.navbar {
  height: 78px;
  background: #f8f6f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  border-bottom: 1px solid #e5e3df;
}

/* Logo */
.logo {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #222;
}

/* Links */
.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #444;
}

.nav-links li {
  cursor: pointer;
  position: relative;
}

.nav-links li::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 1px;
  background: #222;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
  height: 1.5px;
  background: #22633d;
  
}

// .sale {
//   color: #1e3d2b;
// }

.admin {
  font-weight: 500;
}

/* Right Actions */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #444;
  min-width: 260px; /* prevents layout jump */
  justify-content: flex-end;
}


/* Icons */
mat-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  width: 190px; /* reserve space */
  justify-content: flex-end;
}

.search input {
  width: 0;
  opacity: 0;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  transition: width 0.3s ease, opacity 0.2s ease;
}

.search.open input {
  width: 150px;
  opacity: 1;
  margin-right: 6px;
}

mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  flex-shrink: 0; /* prevents collapse */
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar mat-icon {
  font-size: 18px;
  color: #666;
}

a.active {
  color: #1f3d2b;
}

a.active::after {
  width: 100%;
}

