
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

/* BUTTONS */
.btn {
  padding: 0.75rem 1.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #1f3d2b;
  min-width: 150px;

  /* 3D effect base */
  box-shadow: 1px 1px 3px #4a745a; /* fake "bottom" shadow */
  transition: all 0.2s ease;
  position: relative;
  background-clip: padding-box;
}

/* PRIMARY BUTTON */
.btn.primary {
  background: #1f3d2b;
  color: white;
}

.btn.primary:hover {
  transform: translate(3px, -2px);
  box-shadow: 1px 1px 3px #4a745a;
  background: #1f3d2b;
  color: white;
}

/* OUTLINE BUTTON */
.btn.outline {
  background: transparent;
  color: #1f3d2b;
}

.btn.outline:hover {
  transform: translate(3px, -2px);
  box-shadow: 1px 1px 3px #4a745a;
  background: #1f3d2b;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
