.hero {
  max-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  background: linear-gradient(to right, rgb(241, 235, 235) 0%, #ffffff 100%);
}
.hero h1 {
  margin-top: 0;
}

/* TEXT */
.hero-content {
  max-width: 620px;
  margin-left: 4rem;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #555;
}

/* ACTIONS */
.hero-actions {
  display: flex;
  gap: 1rem;
}


/* IMAGE */
.hero-image {
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  max-width: 100%;
  height: auto; /* keeps aspect ratio */
  object-fit: contain; /* NO crop */
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .hero-actions {
    justify-content: center;
  }

  .hero-image {
    justify-content: center;
  }

  .hero-image img {
    max-height: 60vh;
  }

  .hero h1 {
    font-size: 2.2rem;
  }
}
